<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div>
      <%- include('../partials/header') %>

      <!-- CONTENT -->
      <!-- TITLE -->
      <div class="index-title row justify-content-center mb-5">
        <h1 class="text-center col-md-6">
          PET FOOD
          <span class="py-4 d-inline-block"
            >FEED FACTORS LTD IS THE LARGEST SUPPLIER OF ‘GRAIN FREE
            INGREDIENTS’ BOTH IN THE UK AND THE CONTINENT.</span
          >
        </h1>
      </div>
      <!-- IMAGE -->
      <div class="container-fluid hero-image">
        <div class="row mb-md-5 pb-md-5 justify-content-center">
          <img
            src="/images/products/dog2.jpeg"
            alt=""
            srcset=""
            class="col-md-8 px-0"
          />
        </div>
      </div>
      <!-- TEXT -->
      <div class="about-content container col-10 col-md-7 pb-5">
        <div class="row justify-content-between">
          <p class="mt-5 pt-5 mt-md-0 pt-md-0 pb-4 lh-lg">
            We work closely with the UK’s Pet food manufactures to supply a
            large range of ingredients; covering the ‘Essentials’ to the more
            ‘Specialist’.
          </p>

          <h2 class="mt-5 pt-5 mt-md-0 pt-md-0">ESSENTIALS</h2>
          <p class="my-4">
            Feed Factors is largest importer of Sweet Potato Pellets in the UK.
            Our business model is to have substantial strategic stock so we can
            continue to deliver in times of market volatility.
          </p>
          <p class="my-4">
            We pioneered the import of Sweet Potato Pellets in bulk and pride
            ourselves on our policy ‘to never run out’. Read more of our first
            imported vessel here.
          </p>
          <h2>SPECIALIST</h2>
          <p class="my-4">
            Our specialist products include, Peas, Potato, Rice, Pumpkin Powder
            and Inactive Brewer’s Yeast.
          </p>
          <p class="my-4">
            We can offer our full range of material ranging from 1 Mt bags to a
            bulk tipper truck.
          </p>
        </div>
      </div>
      <!-- PRODUCTS -->
      <div class="container my-5 products">
        <div class="row product-cards justify-content-around">
          <div class="organic col-md-5 mb-md-0 mb-5">
            <div class="card grow text-bg-dark">
              <img
                src="/images/homepage/leaf.jpg"
                class="card-img"
                alt="leaf"
              />
              <div
                class="card-img-overlay d-flex justify-content-center align-items-end"
              >
                <a href="/organic" class="link-spanner"></a>

                <a
                  href="/organic"
                  class="fw-semibold fs-6 text-center text-decoration-none"
                  >ORGANIC</a
                >
              </div>
            </div>
          </div>
          <div class="animal-feed col-md-5">
            <div class="card grow text-bg-dark">
              <img
                src="/images/homepage/chickens.jpg"
                class="card-img"
                alt="chickens"
              />
              <div
                class="card-img-overlay d-flex justify-content-center align-items-end"
              >
                <a href="/animalfeed" class="link-spanner"></a>

                <a
                  href="/animalfeed"
                  class="fw-semibold fs-6 text-center text-decoration-none"
                  >NON GM AND ANIMAL FEED</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include('../partials/_valueadded') %> <%-
      include('../partials/footer') %>
    </div>
    <%- include('../partials/scripts') %>
  </body>
</html>
