<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <div>
      <%- include('../partials/header') %>

      <!-- CONTENT -->
      <div class="index-title row justify-content-center mb-5">
        <h1 class="text-center col-md-6">
          PORTS AND STORAGE
          <span class="py-4 d-inline-block"
            >FEED FACTORS HAS THE LARGEST COMMITTED STORAGE OF SPECIALIST
            COMMODITIES THROUGHOUT THE UK</span
          >
        </h1>
      </div>
      <div class="container-fluid hero-image">
        <div class="row mb-md-5 pb-md-5 justify-content-center">
          <img
            src="/images/products/ports.jpg"
            alt=""
            srcset=""
            class="col-md-8 px-0"
          />
        </div>
      </div>
      <div class="about-content container col-10 col-md-7">
        <div class="row">
          <p class="my-4 pt-5 pt-md-0">
            We’re ideally positioned to meet customer requirements; by reducing
            the time and distance on the roads, we’re increasing our efficiency,
            and our efforts of sustainability.
          </p>

          <p class="my-4">
            The storage network enables us to discharge our ships, store our
            cargoes in GAFTA and OFF approved warehouses, and deliver to our
            customers premises across the length of the UK.
          </p>
        </div>
      </div>

      <%- include('../partials/_valueadded') %> <%-
      include('../partials/footer') %>
    </div>
    <%- include('../partials/scripts') %>
  </body>
</html>
